<p>
  <%= link_to 'New Album', new_album_path, class:"button" %>
</p>

<ul class="album-list">
  <% @albums.each do |album| %>
    <li>
      <%= link_to album do %>
      <div>
        <h2><%= album.name %></h2>
        <p><small><%= public_status(album) %></small></p>
        <%= image_tag album.cover_photo.attachment.url(:thumb) unless album.cover_photo.nil? %>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
