<h1>
  <%= @album.name %>
</h1>
<p>
  <small><%= public_status(@album) %></small>
</p>

<% if current_user == @album.user %>
  <%= link_to "New Photo", new_album_photo_path(@album), class: 'button' %>
<% end %>

<ul class='photos-list'>
  <% @album.photos.each do |photo| %>
    <li>
      <%= link_to photo, title:photo.title do %>
        <%= image_tag photo.attachment.url(:thumb) %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user == @album.user %>
  <div class='control'>
    <% if @album.is_public? %>
      <%= link_to 'Set album to private', album_toggle_public_status_path(@album), method: 'put' %>
    <% else %>
      <%= link_to 'Set album to public', album_toggle_public_status_path(@album), method: 'put' %>
    <% end %>
  </div>
<% end %>
