<% if current_user == @photo.user %>
  <div class="control">
    <%= link_to 'Set as cover photo', album_set_cover_photo_path(@photo.album, {photo_id: @photo.id}), method:'put' %>
  </div>
<% end %>

<div class="photo-view">
  <h1><%= @photo.title %></h1>

  <figure>
    <%= image_tag @photo.attachment.url(:large) %>
    <figcaption>
      <%= @photo.title %>, by <%= @photo.user %>
    </figcaption>
  </figure>

  <nav>
    <%= link_to 'â† Previous Photo', photo_path(@photo.prev_record) unless @photo.prev_record.nil? %>
    <%= link_to 'Next Photo â†’', photo_path(@photo.next_record) unless @photo.next_record.nil? %>
  </nav>
</div>
